

table {
  width: 80%;

}

thead {
  width: 80%;
  text-align: center;
}

tr{
  width: 80%;
}

th, td {
  width: 10%;
}

tbody{
  text-align: center;
}

img{
  width: 20%;
  height: 20%;
}

h1{
text-align: center;

}
